.contacts{
    font-size: x-large;
    font-style: italic;
    font-family: sans-serif;
}
.mb-5, .my-5 {
    margin-bottom: 1rem !important;
    margin-block-start: revert;
}
.text-center {
    text-align: left !important;
}
