.document{
    font-size: x-large;
    font-style: italic;
    font-family: sans-serif;
       
}
.doc-container{
    border-style: outset;
    border-width: thin;
    display: flex;
    align-items: center; 
}
.download{
    color: #fff;
    background-color: #1d2124;
    border-color: #171a1d;
}

.all-doc-btn{
    color: #fff;
    background-color: #34383b;
    border-color: #171a1d;
    border-radius: 12px;
   
}
