.header {
    min-height: 75px;
    height: auto;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 30px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}