.logo {
    min-height: 75px;
    height: auto;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.logo h1 {
    color: var(--secondary-color);
}