.vertical-menu {
    width: 280px;
    background-color: var(--primary-color);
    height: 100%; 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.vertical-menu a {
    color: white; 
    display: block; 
    padding: 12px; 
    text-decoration: none; 
}

.vertical-menu a:hover {
    background-color: #ccc; 
}

.vertical-menu a:active {
    background-color: #ccc; 
    color: white;
}
 
/* Portrait tablets and small desktops */ 
@media (max-width: 991px) { 
    .vertical-menu {
        display: none;
    }
} 