label{
	padding:5px;
}

#update, #create, #addLevel{
	display:none;
}

button{
	border:none;
	position:relative;
	width:19.75%;
	height:50px;
	background:var(--secondary-color);
}

#update, #create{
	background:#5e110b;
	color:var(--secondary-color);
}

h2{
	text-align:center;
}
b{
	color:white;
}

#department-content{
	display:none;
	position:relative;
	width:60%;
	font-size:large;
	text-align:right;
	padding-right:15%;
	background-color:var(--primary-color);
	color:var(--secondary-color);
	border:1px solid black;
	padding-top:10px;
	padding-bottom:10px;
}